<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-6 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="/assets/proarq-logo-no-bg.png" style="width: 185px;" alt="proarq-logo">
                                    <h4 class="mt-1 mb-5 pb-1"></h4>
                                </div>

                                <form [formGroup]="formAutenticar" (ngSubmit)="onSubmit()">

                                <div class="mb-2 text-center">
                                    <h5 class="text-success">{{mensagem_sucesso}}</h5>
                                </div>

                                <div class="mb-2 text-center">
                                    <h5 class="text-danger">{{mensagem_erro}}</h5>
                                </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="email">email</label>
                                        <input type="email" id="email" class="form-control"
                                            placeholder="Coloque seu email aqui" formControlName="email" />
                                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                                            <span *ngIf="form.email.errors.required">
                                                Por favor, informe seu email.
                                            </span>
                                            <span *ngIf="form.email.errors.email">
                                                Por favor, informe um endereço de email válido.
                                            </span>
                                        </div>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="senha">Senha</label>
                                        <input type="password" id="senha" class="form-control"
                                            placeholder="Coloque sua senha aqui" formControlName="senha" />
                                        <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
                                            <span *ngIf="form.senha.errors.required">
                                                Por favor, informe sua senha.
                                            </span>
                                            <span *ngIf="form.senha.errors.pattern">
                                                Por favor, verifique se sua senha está correta
                                            </span>
                                        </div>
                                    </div>

                                    <div class="text-center pt-1 mb-1 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 no-outline"
                                            type="submit" [disabled]="!formAutenticar.valid">Acessar</button>
                                    </div>

                                    <div class="text-center">
                                        <a class="text-muted" href="#!">Esqueci minha senha.</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Ainda não possui conta?</p>
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-outline-danger">Cadastre-se agora</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Ut aliquip ex ea commodo consequat</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>